%h1.page-title
  Portfolio
.slider
  .inner-slider
    %ul.photos
      - @photos.each do |photo|
        %li
          / %h1.photo-title= photo.title
          %a.photo-link{:href => photo.link}
            %img{:src => photo.file.slide.url}
          / %p.photo-description_title= photo.description_title
          / %p.photo-description= photo.description

  .actions
    %button.previous
      Previous
    %button.next
      Next







