#slider-nav{
	margin-top: 1em;
}
#slider-nav button{
	padding:1px;
	margin-right: 1px;
	border-radius: 10px;
	cursor: pointer;

}
body{
	width:300px;
	margin:100px auto 0;}
}
{
	margin:0; padding:0;
}


.slider{
	width: inherit;
	height:320px;
	overflow:hidden;
}

.slider ul{
	width:10000px;
	list-style:none;
}

.slider li{
	float:left;
}